.footer{
    min-height: 350px;
    .footer__container{
        min-height: 310px;
        padding-top: 40px;
        @include table{
            padding-top: 30px;
        }
        .footer__items{
            display: flex;
            justify-content: space-between;
            @include desktop{
                flex-direction: column;
                align-items: center;
            }
            .footer__inormation{
                display: flex;
                column-gap: 160px;
                @include desktop{
                    column-gap: 60px;
                    padding-bottom: 65px;
                }
                @include table{
                    flex-direction: column;
                }
            }
            .item__block{
                max-width: 305px;
                margin-top: 16px;
                @include table{
                    margin-top: 0;
                    margin-bottom: 40px;
                }
                .name__donation{
                    text-align: left;
                    letter-spacing: 0.06em;
                    color: #FFFFFF;
                    @include table{
                        font-size: 25px;
                        line-height: 130%;
                        text-align: center;
                     
                    }
                }
                .block__contact{
                    font-weight: 400;
                    font-family: 'Georgia';
                    font-size: 20px;
                    line-height: 115%;
                    letter-spacing: 0.06em;
                    color: #F1CDB3;
                    .block-width-1,.block-width{
                        max-width: 350px;
                    }
                    @include desktop{
                        .block_width_1{
                            max-width: 280px;
                        }
                        .block_width{
                            max-width:350px;
                        }
                    }
                    .icon{
                        display: flex;
                        margin-right: 20px;
                        height: 32px;
                        width: 40px;
                        @include table{

                        }
                    }
                    .icon-email{
                        background-image: url(image/footer/icon-email.svg);
                        background-repeat: no-repeat;
                        background-position: left center;
                    }
                    .icon-phone{
                       background-image: url(image/footer/icon-phone.svg);
                       background-repeat: no-repeat;
                       background-position: left center;
                    }
                    .icon-point{
                        background-image: url(image/footer/icon-marker.svg);
                        background-repeat: no-repeat;
                        background-position: left center;
                        width: 25px;
                    }
                    .number{
                        font-family: 'Georgia';
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 115%;
                        letter-spacing: 0.06em;
                        color: #F1CDB3;
                    }
                }
            }
            .item__image{
                display: flex;
                .footer__image{
                    max-width: 100%;
                }
            }
        }
    }

}
.contacts{
    display: flex;
    align-items: center;
    @include table{
        justify-content: center;
    }
}
.icon-email{
    margin-top: 40px;
    margin-bottom: 40px ;
}
.icon-padding{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 16px;
    @include desktop{
        padding-right: 19px;
    }
    @include table{
        padding-right: 19px;
    }
}
