*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: url(image/icon_mouse/norm.svg), auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  width: 100%;
  line-height: 1;
  font-size: 20px;
  color: black;
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*===================================HEADER=========================================*/
.header {
  background-position: top center;
  background-size: 100%;
}

.header_img {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width: 1279px) {
  .header_img {
    padding-top: 30px;
  }
}

.header_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item_logo {
  width: 186px;
  height: 60px;
}

.header_name {
  width: 190px;
  font-family: "Georgia";
  font-size: 32px;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.header_text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 115%;
  color: #FFFFFF;
  margin-top: 10px;
  letter-spacing: 0.1em;
  text-align: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.link-bordered {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 6px;
}

.nav-item:not(:last-child) {
  margin-right: 35px;
}

.nav-link:hover {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 6px;
}

.header_mod_white {
  color: #545454;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header_mod_white:hover {
  color: #292929;
}

.header_white {
  background-color: #FFFFFF;
  padding: 30px 0px 30px 0px;
}

.link-bordered-2 {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 6px;
}

@media (max-width: 767px) {
  .header-menu {
    display: none;
  }
}

.main {
  overflow: hidden;
}

/*===================================start_screen=========================================*/
.start_screen .start_screen_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1279px) {
  .start_screen .start_screen_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.start_screen .start_screen_container .item_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.start_screen .start_screen_container .item_image .start_dog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}
@media (max-width: 1279px) {
  .start_screen .start_screen_container .item_image .start_dog {
    padding-top: 100px;
    max-width: 80%;
  }
}
@media (max-width: 767px) {
  .start_screen .start_screen_container .item_image .start_dog {
    padding-top: 105px;
  }
}
.start_screen .start_screen_container .item_info {
  max-width: 460px;
  padding-top: 163px;
}
@media (max-width: 1279px) {
  .start_screen .start_screen_container .item_info {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .start_screen .start_screen_container .item_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.start_screen .start_screen_container .item_info .name_block {
  max-width: 310px;
  font-size: 44px;
  line-height: 130%;
  font-style: normal;
  color: #FFFFFF;
  font-family: "Georgia";
  font-weight: 400;
}
@media (max-width: 767px) {
  .start_screen .start_screen_container .item_info .name_block {
    font-size: 25px;
    letter-spacing: 0.06em;
    padding: 0px 20px 0px 20px;
    max-width: 300px;
  }
}
.start_screen .start_screen_container .item_info .name_block .name__start {
  text-align: left;
}
@media (max-width: 767px) {
  .start_screen .start_screen_container .item_info .name_block .name__start {
    text-align: center;
  }
}
.start_screen .start_screen_container .item_info .text_block {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin-top: 42px;
  margin-bottom: 42px;
}
@media (max-width: 767px) {
  .start_screen .start_screen_container .item_info .text_block {
    max-width: 300px;
    text-align: center;
  }
}

/*===================================about=========================================*/
.about {
  background-color: #FFFFFF;
}

.about_container .about_items {
  padding-bottom: 100px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.about_container .about_items .item_image .dog {
  width: 300px;
}
@media (max-width: 320px) {
  .about_container .about_items .item_image .dog {
    max-width: 100%;
  }
}
@media (max-width: 1279px) {
  .about_container .about_items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 60px;
    padding-left: 160px;
    padding-right: 160px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about_container .about_items .item_image {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .about_container .about_items {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 42px;
  }
}
.about_container .about_items .item_info {
  max-width: 430px;
}
@media (max-width: 767px) {
  .about_container .about_items .item_info {
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about_container .about_items .item_info .name_block {
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  font-family: "Georgia";
  letter-spacing: 0.06em;
  color: #545454;
}
.about_container .about_items .item_info .name_block .name {
  text-align: left;
}
@media (max-width: 767px) {
  .about_container .about_items .item_info .name_block .name {
    text-align: center;
    max-width: 80%;
  }
}
@media (max-width: 767px) {
  .about_container .about_items .item_info .name_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
  }
}
.about_container .about_items .item_info .text_block {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  font-family: "Arial";
  color: #4C4C4C;
  margin-top: 25px;
}
@media (max-width: 320px) {
  .about_container .about_items .item_info .text_block {
    max-width: 270px;
    text-align: justify;
  }
}

/*===================================pets=========================================*/
.pets {
  background: #F6F6F6;
}
.pets .pets_container .pets_items {
  padding-top: 80px;
  padding-bottom: 100px;
  text-align: center;
}
@media (max-width: 320px) {
  .pets .pets_container .pets_items {
    padding-bottom: 42px;
    padding-top: 42px;
  }
}
.pets .pets_container .pets_items .name__pets {
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 130%;
}
@media (max-width: 1279px) {
  .pets .pets_container .pets_items .name__pets {
    font-size: 25px;
  }
}
.pets .pets_container .pets_items .slider_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media (max-width: 1279px) {
  .pets .pets_container .pets_items .slider_blocks .block_pet:nth-child(3) {
    display: none;
  }
}
@media (max-width: 767px) {
  .pets .pets_container .pets_items .slider_blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 42px;
  }
  .pets .pets_container .pets_items .slider_blocks .block_pet:nth-child(2) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
  }
  .pets .pets_container .pets_items .slider_blocks .block_pet:nth-child(1) {
    display: none;
  }
  .pets .pets_container .pets_items .slider_blocks .block_pet:nth-child(4) {
    display: none;
  }
}
.pets .pets_container .pets_items .slider_blocks .scroll-arrow:first-child {
  background-image: url(image/main/pets/left.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 767px) {
  .pets .pets_container .pets_items .slider_blocks .scroll-arrow:first-child {
    margin-right: 43px;
  }
}
.pets .pets_container .pets_items .slider_blocks .scroll-arrow:last-child {
  background-image: url(image/main/pets/right.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 767px) {
  .pets .pets_container .pets_items .slider_blocks .scroll-arrow:last-child {
    margin-left: 43px;
  }
}

.block_pet {
  min-height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  text-align: center;
}

/*===================================help=========================================*/
.help {
  background-color: #FFFFFF;
  width: 100%;
}
.help .help__container {
  padding-bottom: 100px;
  margin: 0 auto;
}
.help .help__container .name__help {
  padding-top: 80px;
  margin: 0 auto;
  letter-spacing: 0.06em;
  line-height: 130%;
}
@media (max-width: 767px) {
  .help .help__container .name__help {
    font-size: 25px;
    padding-top: 42px;
  }
}
.help .help__container .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 55px;
  padding-top: 60px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1279px) {
  .help .help__container .icons {
    row-gap: 55px;
  }
}
@media (max-width: 767px) {
  .help .help__container .icons {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    margin-left: 15px;
  }
}
@media (max-width: 320px) {
  .help .help__container .icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.help .help__container .icons .icon {
  width: 170px;
  height: 113px;
  margin-right: 60px;
}
@media (max-width: 1279px) {
  .help .help__container .icons .icon {
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .help .help__container .icons .icon {
    text-align: center;
    margin: 0;
    width: 100px;
    height: 87px;
  }
}
.help .help__container .icons .icon__name {
  font-family: "Georgia";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .help .help__container .icons .icon__name {
    font-size: 15px;
    line-height: 110%;
    padding-top: 20px;
  }
}

/*===================================donation=========================================*/
.donation {
  background-color: #F6F6F6;
}
.donation .donation__container .donation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .donation .donation__container .donation__items {
    padding-top: 42px;
  }
}
.donation .donation__container .donation__items .item__dog .donation_image {
  max-width: 100%;
}
@media (max-width: 1279px) {
  .donation .donation__container .donation__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 767px) {
  .donation .donation__container .donation__items .item__dog {
    background-image: url(image/main/donation/mobile-dog.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 260px;
    height: 135px;
    margin-bottom: 42px;
  }
}
.donation .donation__container .donation__items .item__info {
  max-width: 380px;
  margin-left: 30px;
}
@media (max-width: 1279px) {
  .donation .donation__container .donation__items .item__info {
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .donation .donation__container .donation__items .item__info {
    max-width: 300px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.donation .donation__container .donation__items .item__info .name__donation {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 130%;
}
@media (max-width: 767px) {
  .donation .donation__container .donation__items .item__info .name__donation {
    font-size: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 200px;
  }
}
.donation .donation__container .donation__items .item__info .text {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .donation .donation__container .donation__items .item__info .text {
    line-height: 160%;
    letter-spacing: 0;
  }
}
.donation .donation__container .donation__items .item__info .credit__cart {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 349px;
}
.donation .donation__container .donation__items .item__info .credit__cart .number {
  width: 319px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Georgia";
  letter-spacing: 0.06em;
  color: #545454;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  background: url(image/main/donation/credit-card.svg) no-repeat left;
}
.donation .donation__container .donation__items .item__info .credit__cart .number .card__image {
  margin-right: 15px;
}
@media (max-width: 767px) {
  .donation .donation__container .donation__items .item__info .credit__cart .number {
    font-size: 15px;
    line-height: 110%;
    background-size: 32px 17px;
  }
}
@media (max-width: 767px) {
  .donation .donation__container .donation__items .item__info .credit__cart {
    width: 281px;
  }
}
.donation .donation__container .donation__items .item__info .text_2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: "Arial";
  font-style: italic;
  color: #B2B2B2;
}
@media (max-width: 767px) {
  .donation .donation__container .donation__items .item__info .text_2 {
    max-width: 280px;
    text-align: justify;
  }
}

/*===================================button:start_screen=========================================*/
.button {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px 15px 45px;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.button:hover {
  background-color: #FDDCC4;
  cursor: url(image/icon_mouse/icon.png), auto;
}

.color {
  background-color: #F1CDB3;
}

/*===================================button:pets=========================================*/
.border {
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
}
.border:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: url(image/icon_mouse/icon.png), auto;
}

.scroll {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.scroll-arrow:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
  cursor: url(image/icon_mouse/icon.png), auto;
}

.name_block {
  font-weight: 400;
  font-size: 35px;
  font-family: "Georgia";
  color: #545454;
  max-width: 400px;
}
.name_block .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name_spacing {
  letter-spacing: 0.06em;
}

.name_pets {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  font-family: "Georgia";
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.footer {
  min-height: 350px;
}
.footer .footer__container {
  min-height: 310px;
  padding-top: 40px;
}
@media (max-width: 767px) {
  .footer .footer__container {
    padding-top: 30px;
  }
}
.footer .footer__container .footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1279px) {
  .footer .footer__container .footer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer .footer__container .footer__items .footer__inormation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 160px;
     -moz-column-gap: 160px;
          column-gap: 160px;
}
@media (max-width: 1279px) {
  .footer .footer__container .footer__items .footer__inormation {
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    padding-bottom: 65px;
  }
}
@media (max-width: 767px) {
  .footer .footer__container .footer__items .footer__inormation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .footer__container .footer__items .item__block {
  max-width: 305px;
  margin-top: 16px;
}
@media (max-width: 767px) {
  .footer .footer__container .footer__items .item__block {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
.footer .footer__container .footer__items .item__block .name__donation {
  text-align: left;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .footer .footer__container .footer__items .item__block .name__donation {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
}
.footer .footer__container .footer__items .item__block .block__contact {
  font-weight: 400;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer .footer__container .footer__items .item__block .block__contact .block-width-1, .footer .footer__container .footer__items .item__block .block__contact .block-width {
  max-width: 350px;
}
@media (max-width: 1279px) {
  .footer .footer__container .footer__items .item__block .block__contact .block_width_1 {
    max-width: 280px;
  }
  .footer .footer__container .footer__items .item__block .block__contact .block_width {
    max-width: 350px;
  }
}
.footer .footer__container .footer__items .item__block .block__contact .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  height: 32px;
  width: 40px;
}
.footer .footer__container .footer__items .item__block .block__contact .icon-email {
  background-image: url(image/footer/icon-email.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.footer .footer__container .footer__items .item__block .block__contact .icon-phone {
  background-image: url(image/footer/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.footer .footer__container .footer__items .item__block .block__contact .icon-point {
  background-image: url(image/footer/icon-marker.svg);
  background-repeat: no-repeat;
  background-position: left center;
  width: 25px;
}
.footer .footer__container .footer__items .item__block .block__contact .number {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer .footer__container .footer__items .item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer__container .footer__items .item__image .footer__image {
  max-width: 100%;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.icon-email {
  margin-top: 40px;
  margin-bottom: 40px;
}

.icon-padding {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-right: 16px;
}
@media (max-width: 1279px) {
  .icon-padding {
    padding-right: 19px;
  }
}
@media (max-width: 767px) {
  .icon-padding {
    padding-right: 19px;
  }
}

/*===================================pets=========================================*/
.pets__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 1279px) {
  .pets__items {
    padding-bottom: 70px;
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .pets__items {
    padding-bottom: 42px;
    padding-top: 42px;
  }
}
.pets__items .pets_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin: 45px 0px 45px 0px;
}
.pets__items .buttons_block {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .pets__items .buttons_block {
    width: 300px;
  }
}
.pets__items .buttons_block .transition:nth-child(1) {
  background-image: url(image/main/pets/double-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #CDCDCD;
}
.pets__items .buttons_block .transition:nth-child(2) {
  background-image: url(image/main/pets/one-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #CDCDCD;
}
.pets__items .buttons_block .transition:nth-child(4) {
  background-image: url(image/main/pets/one-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.pets__items .buttons_block .transition:nth-child(5) {
  background-image: url(image/main/pets/double-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.hamburger::after, .hamburger::before, .hamburger .hamburger__line {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #F1CDB3;
  height: 2px;
  width: 100%;
}

.hamburger-black::after, .hamburger-black::before, .hamburger-black .hamburger__line {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #000000;
  height: 2px;
  width: 100%;
}

.hamburger_block {
  display: none;
}
@media (max-width: 767px) {
  .hamburger_block {
    display: block;
    padding-right: 43px;
  }
}

.hamburger {
  display: inline-block;
  width: 30px;
  height: 22px;
  position: relative;
}
.hamburger .hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}
.hamburger::before {
  top: 0;
  left: 0;
}
.hamburger::after {
  bottom: 0;
  left: 0;
}

.hamburger-black {
  display: inline-block;
  width: 30px;
  height: 22px;
  position: relative;
}
.hamburger-black .hamburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}
.hamburger-black::before {
  top: 0;
  left: 0;
}
.hamburger-black::after {
  bottom: 0;
  left: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 40px 0px 40px;
}
@media (max-width: 1279px) {
  .container {
    padding: 0px 30px 0px 30px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0px 10px 0px 10px;
  }
}