@import "sass/abstract/constants";
@import "sass/abstract/mixin";
@import "sass/base/reset.scss";
@import "sass/layout/header.scss";
@import "sass/layout/main.scss";
@import "sass/components/buttons.scss";
@import "sass/components/nameH.scss";
// @import "sass/layout/footer.scss";
@import "sass/pages/our_pets.scss";
@import "sass/base/hamburger";


.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 40px 0px 40px;
    @include desktop{
        padding: 0px 30px 0px 30px;
    }
    @include table{
        padding: 0px 10px 0px 10px;
    }
    // @include mobile{
    //     padding: 0px 10px 0px 10px;
    // }
}
