/*===================================HEADER=========================================*/
.header{
    background-position: top center;
    background-size: 100%;

}
.header_img{
    padding-top: 60px;
    padding-bottom: 60px;
    @include desktop{
        padding-top: 30px;
    }
}
.header_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // @include table{
    //     justify-content: flex-end;
    // }
}
 .item_logo{
    width: 186px;
    height: 60px;
    position: relative;
    z-index: 2;
    // @include table{
    //     margin-right: 43px;
    // }
 }
.header_name{
    width: 190px;
    font-family: 'Georgia';
    font-size: 32px;
    line-height: 110%;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}
.header_text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 115%;
    color: #FFFFFF;
    margin-top: 10px;
    letter-spacing: 0.1em;
    text-align: center;
}
.nav-list{
    display: flex;
}
.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    transition: 0.2s;
}
.link-bordered{
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 6px;
}
.border-black{
    color:#292929;
}
.nav-item:not(:last-child){
    margin-right: 35px;
}
.nav-link:hover{
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 6px;
}
//For page "our pets"
.header_mod_white{
    color: #545454;
    transition: 0.2s;
    &:hover{
        color: #292929;
    }
}
.header_white{
    background-color: #FFFFFF;
    padding: 30px 0px 30px 0px;
}
.link-bordered-2{
    color: #292929;
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 6px;
}
///////////////////////Боковая шторка/////////////////////////////
.header-menu{
    @include table{
        position: fixed;
        bottom: 0;
        right: 0;
        transform:translate(100%,0px);
        width: 320px;
        height: 100%;
        background: #292929;
        padding-top: 248px;
        padding-left: 39px;
        transition: right 0.3s ease 0s;
        // transition: 0.3s;
        overflow: auto;
       
        .nav-list{
            @include table{
                display: flex;
                flex-direction: column;
                .nav-item:not(:last-child){
                    padding-bottom: 40px;
                }
                .nav-link{
                    font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 160%;
                }
                .link-bordered{
                    text-decoration:3px line-through #F1CDB3; 
                    border: 0;
                    color: #FAFAFA;
                }
            }
        }
    }
}
.active-menu{
    transform:translate(0px,0px);
    .header_mod_white{
        color: #CDCDCD;
    }
}
.active-header{
    justify-content: flex-end;
}
.active-item{
    margin-right: 43px;
    .header_mod_white{
        color:#F1CDB3;;
    }
    &::before{
        content: "";
        position: fixed;
        width: 320px;
        top: 0;
        right: 0;
        height: 90px;
        background-color: #292929;
        z-index: -1;
    }
}

